Django>=4.2,<5.0
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
django-oauth-toolkit
django-cors-headers
whitenoise
djangosaml2idp
pip-tools
cdh-django-core[core] @ git+https://github.com/CentreForDigitalHumanities/django-shared-core.git@v3.2.0
