Django>=4.0,<4.1
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
djangosaml2idp
cryptography # Not needed if not using encrypted DB fields
pip-tools
mysqlclient
cdh-django-core[core] @ git+https://github.com/DH-IT-Portal-Development/django-shared-core.git@v3.1.0-alpha-1