{% extends "base/app_base.html" %}

{% block content %}
    {% if hosted %}
        <div class="uu-hero text-bg-teal">
            <h1>Welcome</h1>
        </div>
        <div class="uu-container">
            <p>
                Welcome to our Development IdP, the IdP you can use if you want
                to connect a development or testing version of an app to an IdP
                you want to have more control over.
                <br/>
                Anyone can use at Humanities IT can use this IdP if they want,
                but please try to keep things tidy.
            </p>
            <div class="alert alert-warning w-100">
                This is a reminder that passwords are stored in plaintext! Do
                not connect <em>anything</em> that contains sensitive
                information to this IdP. (And obviously, do not create users
                with passwords you actually use).
            </div>
        </div>
    {% endif %}
    <div class="uu-hero text-bg-teal justify-content-between align-items-center">
        <h1>SAML Service Providers</h1>
        <a class="btn btn-secondary" href="{% url 'main:sp-create' %}">
            New
        </a>
    </div>
    <div class="uu-container">
        {% if not hosted %}
            <div class="col-12">
                <p>
                    If you have multiple SP's you work on, remember that IdPs
                    load config based on the EntityID. Thus, it is very
                    important that apps with diverging config/different certs
                    have a unique EntityID. This can be done by either hosting
                    the metadata at a (slightly) different URL, or running your
                    app on different ports. (8000, 8001, etc).
                </p>
                <p>
                    Apps using the exact same config (and certificates) can
                    share an entry here.
                </p>
            </div>
        {% endif %}
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Entity ID</th>
                        <th>Description</th>
                        <th>Metadata URL</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sp in service_providers %}
                        <tr>
                            <td>
                                {{ sp.pretty_name }}
                            </td>
                            <td>
                                {{ sp.entity_id }}
                            </td>
                            <td>
                                {{ sp.description }}
                            </td>
                            <td>
                                <a href="{% url 'main:saml-metadata' sp.pk %}" target="_blank">
                                    Metadata
                                </a>
                            </td>
                            <td>
                                {{ sp.active|yesno }}
                            </td>
                            <td>
                                <a href="{% url 'main:sp-edit' sp.pk %}">Edit</a>
                                <a href="{% url 'main:sp-delete' sp.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="uu-hero text-bg-teal justify-content-between align-items-center">
        <h1>OpenID Connect Applications</h1>
        <a class="btn btn-secondary" href="{% url 'main:oidc-app-create' %}">
            New
        </a>
    </div>

    <div class="uu-container">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Client ID</th>
                        <th>Client Secret</th>
                        <th>Redirect uris</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in openid_applications %}
                        <tr>
                            <td>
                                {{ app.name }}
                            </td>
                            <td class="text-break">
                                {{ app.client_id }}
                            </td>
                            <td class="text-break">
                                {{ app.client_secret }}
                            </td>
                            <td>
                                {{ app.redirect_uris }}
                            </td>
                            <td>
                                <a href="{% url 'main:oidc-app-edit' app.pk %}">Edit</a>
                                <a href="{% url 'main:oidc-app-delete' app.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="uu-hero text-bg-teal justify-content-between align-items-center">
        <h1>Users</h1>

        <a class="btn btn-secondary" href="{% url 'main:user-create' %}">
            New
        </a>
    </div>
    <div class="uu-container">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Display Name</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Home organisation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.get_password }}
                            </td>
                            <td>
                                {{ user.displayName }}
                            </td>
                            <td>
                                {{ user.givenName }}
                            </td>
                            <td>
                                {{ user.sn }}
                            </td>
                            <td>
                                {{ user.schacHomeOrganization }}
                            </td>
                            <td>
                                <a href="{% url 'main:user-edit' user.pk %}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
